<div class="container-fluid h-100">
  <br /><br /><br /><br /><br /><br /><br /><br />
  <div class="row h-100 justify-content-center align-items-center">
    <!--Carta-->
    <div class="card mb-3" style="max-width: 540px">
      <div class="row g-0">
        <div class="col-md-4">
          <img
            src="assets/foto.jpg"
            class="img-fluid rounded-start"
            alt="..."
          />
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title h1">Antonio Aguirre</h5>
            <p class="card-text h5">
              Cursando actualmente Laboratorio IV los dias jueves. Legajo:
              111239 Mail: antiaguirre.aa&#64;gmail.com
            </p>
            <p class="card-text h5">
              <small style="color: blueviolet"
                >El juego personal consiste en cuatro cuadrados de un mismo
                color, pero uno de ellos siendo ligeramente distinto, el usuario
                debe distinguir el distinto y acumular puntos.</small
              >
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
