.chat-wrapper {
  height: 88vh;
}

.chat-box {
  background-color: #42008d;
  flex-grow: 1;
  overflow-y: auto;
  padding-bottom: 1rem;
}

.chat-input {
  position: sticky;
  bottom: 0;
}

.message {
  max-width: 75%;
  word-wrap: break-word;
}
