.gradient-background {
  background: linear-gradient(
    232deg,
    rgba(127, 0, 211, 0.5),
    #1a069b85,
    rgba(116, 0, 211, 0.5),
    #1a069b8a
  );
  background-size: 120% 120%;
  animation: gradient-animation 2s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
