<nav
  class="navbar navbar-expand-lg bg-dark navbar-dark px-4 gradient-background"
>
  <div class="container-fluid">
    <a class="navbar-brand me-auto" href="#">
      <img src="assets/logo.png" alt="logo" style="height: 60px" />
    </a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarCenterContent"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div
      class="collapse navbar-collapse justify-content-center"
      id="navbarCenterContent"
    >
      <ul class="navbar-nav fs-4">
        <li class="nav-item">
          <a class="nav-link" routerLink="/home" routerLinkActive="active"
            >Inicio</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/juegos" routerLinkActive="active"
            >Juegos</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/quiensoy" routerLinkActive="active"
            >Quién Soy</a
          >
        </li>
      </ul>
    </div>

    <div class="d-flex ms-lg-auto order-lg-3">
      <a class="btn btn-info text-white fs-3" routerLink="/login">Login</a>
    </div>
  </div>
</nav>

<div class="flex-grow-1">
  <router-outlet></router-outlet>
</div>
