.gradient-background {
  background: linear-gradient(
    300deg,
    rgb(13, 68, 141),
    rgb(99, 4, 139),
    rgb(0, 0, 153)
  );
  background-size: 180% 180%;
  animation: gradient-animation 2s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
