<section style="height: 80vh">
  <div class="container h-100">
    <div class="row justify-content-center align-items-center h-100">
      <div class="col-xl-6 col-lg-7">
        <div class="card shadow" style="border-radius: 1rem">
          <div class="row g-0">
            <div class="col-md-5 d-none d-md-block">
              <img
                src="https://media.tenor.com/llSAvv3PxdAAAAAM/pacman-namco.gif"
                alt="login form"
                class="img-fluid h-100"
                style="border-radius: 1rem 0 0 1rem; object-fit: cover"
              />
            </div>
            <div class="col-md-7 d-flex align-items-center">
              <div class="card-body p-3 text-black w-100">
                <form>
                  <div class="text-center mb-3">
                    <img src="assets/logo.png" alt="" style="height: 60px" />
                  </div>

                  <h5 class="fw-normal mb-2 text-center">Iniciá sesión</h5>

                  <div class="form-outline mb-3">
                    <label class="form-label" for="form2Example17">Email</label>
                    <input
                      type="email"
                      id="form2Example17"
                      class="form-control"
                    />
                  </div>

                  <div class="form-outline mb-3">
                    <label class="form-label" for="form2Example27"
                      >Contraseña</label
                    >
                    <input
                      type="password"
                      id="form2Example27"
                      class="form-control"
                    />
                  </div>

                  <div class="mb-3">
                    <button class="btn btn-dark w-100" type="button">
                      Login
                    </button>
                  </div>

                  <div class="text-center">
                    <p class="mt-2 mb-1">
                      ¿No tenés cuenta? <a href="#!">Registrate</a>
                    </p>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
