:host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

.juego-container {
  position: relative;
  padding: 4px;
  border-radius: 15px;
  background: linear-gradient(270deg, #4c5baf, #eb6fb3, #4c5baf);
  background-size: 600% 600%;
  animation: borderAnim 6s ease infinite;
  width: 780px;
}

.mayor-menor-container {
  font-family: system-ui;
  text-align: center;
  background-color: #fff;
  border-radius: 10px;
  padding: 40px;
  max-width: 900px;
}

.cartas-container {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-bottom: 20px;
}

.carta img {
  width: 100px;
  height: auto;
  margin: 0 20px;
  padding: 10px;
  border-radius: 8px;
  border: 2px solid #000000;
}

button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 10px;
  border: 3px solid #000000;
  background-color: #f4f4f4;
  cursor: pointer;
}

button:hover {
  background-color: #eec1c1;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
