<div class="juego-container">
  <div class="mayor-menor-container">
    <h2>Mayor o Menor</h2>

    <!-- Cartas lado a lado -->
    <div class="cartas-container" *ngIf="cartaActual">
      <div class="carta">
        <p>Carta actual:</p>
        <img [src]="cartaActual" alt="Carta actual" />
      </div>

      <div class="carta" *ngIf="cartaSiguiente">
        <p>Carta siguiente:</p>
        <img [src]="cartaSiguiente" alt="Carta siguiente" />
      </div>
    </div>

    <p>Puntos: {{ puntos }}</p>

    <p *ngIf="!juegoTerminado">La carta siguiente va a ser</p>

    <div *ngIf="!juegoTerminado">
      <button (click)="adivinar('mayor')">Mayor</button>
      <button (click)="adivinar('menor')">Menor</button>
    </div>

    <div *ngIf="juegoTerminado">
      <h3>¡Perdiste!</h3>
      <button (click)="iniciarJuego()">Reiniciar juego</button>
    </div>
  </div>
</div>
